$Primary_Color: #8D8DAA;
$Bg_Color: #F6FFFE;
$Success_Color: #5CB85C;
$Danger_Color: #D9534F;

$Font__xl: clamp(25px, 5vw, 70px);
$Font__lg: clamp(20px, 3vw, 30px);
$Font__md: clamp(15px, 2vw, 25px);
$Font__sm: clamp(10px, 2vw, 15px);
