.app__container{
    width: 100%;
    height: 100%;
    padding: 2rem 12rem;
}

.content__container{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 5rem;
    margin-top: 5rem;
}
