table{ 
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 20px;
}

tbody tr td {
    padding: 1rem 0;
    border-bottom: 2px solid $Primary_Color;
    text-align: center;
}
.table__votes{
    color: $Primary_Color;
    font-size: $Font__lg;
    font-weight: bold;
}